<h1 class="card-title">{{parameters.title}}</h1>
<h2 class="mt-5 mb-5">{{parameters.firstNumber}} {{parameters.operator}} {{parameters.secondNumber}} = ?</h2>

<h3 *ngIf="answerCheck === true" class="mt-5 text-success mb-3">
  Bonne réponse !
  Votre réponse était : {{userAnswer}}
</h3>
<h3 *ngIf="answerCheck === false && nbredeVie === 1" class="mt-5 text-danger mb-3" [hidden]="">
  Réponse fausse, mais il te reste une chance !
</h3>
<h3 *ngIf="nbredeVie === 0 && userAnswer !== answer" class="mt-5 text-danger mb-3">
  Dommage, la bonne réponse était : {{parameters.answer}}
  Votre réponse était : {{userAnswer}}
</h3>

<button *ngIf="nbredeVie === 0 || answerCheck === true" class="btn btn-outline-dark mb-5" (click)="setCalcul(); nombreQuestion()">
  {{ boutonCalculSuivant }}
</button>

<form>
  <div class="form-row">
    <div class="input-group w-50 mx-auto">
      <input type="number" class="form-control form-control-lg text-center" placeholder="Écris ta réponse" [(ngModel)]="userAnswer"
        name="userAnswer" [disabled]="nbredeVie === 0">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-primary" (click)="additionAnswer()" [disabled]="userAnswer === null">
          {{ boutonValider }}
        </button>
      </div>
    </div>
  </div>
</form>
