<div class="row h-100">
  <div class="card m-auto w-100">
    <div class="card-body text-center">
      <div class="row justify-content-between">
        <div class="col-md-2 text-left">
          <button routerLink="/accueil" routerLinkActive="router-link-active" class="btn btn-outline-dark ml-2 mt-1"><i
              class="fas fa-home"></i></button>
        </div>
        <div class="col-md-2 text-right">
          <h1 class="h2" *ngIf="nbQuestion <= 10">{{nbQuestion}}/10</h1>
          <h2>Niveau : {{difficulte + 1}}</h2>
        </div>
      </div>
      <app-calcul [difficulte]=difficulte (nextQuestion)="nextQuestion($event)" *ngIf="nbQuestion <= 10" else results></app-calcul>
      <div *ngIf="nbQuestion > 10">
        <h2>{{nbGoodAnswers}} bonne(s) réponses</h2>
        <h2>{{nbFalseAnswers}} mauvaise(s) réponses</h2>
        <h3 *ngIf="nbGoodAnswers >= 9">Bien joué ! Tu as réussi le niveau : {{niveau}} <i class="far fa-smile-beam"></i></h3>
        <h3 *ngIf="nbFalseAnswers > 1">Malheuresement, tu n'as pas complété ce niveau <i class="far fa-frown-open"></i></h3>
        <button #rejouer class="btn btn-outline-dark mt-4" (click)="replay()">Rententer ma chance ? {{ rejouer.focus() }}</button>&nbsp;
        <button *ngIf="nbGoodAnswers >= 9" class="btn btn-outline-dark mt-4" (click)="niveauSuivant()">Passer au niveau suivant</button>
      </div>
    </div>
  </div>
</div>