<div class="row h-100">
  <div class="card m-auto w-100">
    <div class="card-body text-center">
      <h1 class="card-title">Calculo</h1>
      <h2 class="card-subtitle text-muted">Les calculs rigolos</h2>
      <div class="card-deck mt-3">
        <div class="card border-dark">
          <div class="card-header h3">Choisis ton entrainement</div>
          <div class="card-body row align-items-center">
            <div class="btn-group-vertical w-75 mx-auto">
              <button class="btn btn-outline-dark" routerLink="/entrainement/calcul" routerLinkActive="router-link-active"><i class="fas fa-plus mr-2"></i>Additions</button>
              <!-- <button class="btn btn-outline-dark"><i class="fas fa-minus mr-2"></i>Soustractions</button>
              <button class="btn btn-outline-dark"><i class="fas fa-times mr-2"></i>Multiplications</button>
              <button class="btn btn-outline-dark"><i class="fas fa-divide mr-2"></i>Divisions</button> -->
            </div>
          </div>
        </div>
        <div class="card border-dark">
          <div class="card-header h3">Choisis ton défi</div>
          <div class="card-body row align-items-center">
            <div class="btn-group-vertical btn-group-lg w-75 mx-auto">
              <button class="btn btn-success" routerLink="/defi" routerLinkActive="router-link-active"><i class="fas fa-kiss-beam mr-2"></i>Facile</button>
              <!-- <button class="btn btn-warning"><i class="fas fa-flushed mr-2"></i>Moyen</button>
              <button class="btn btn-danger"><i class="fas fa-grimace mr-2"></i>Difficile</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
