#lvl-1 {
  background-color: #27a744;
}

#lvl-2 {
  background-color: #2dac29;
}

#lvl-3 {
  background-color: #52b22a;
}

#lvl-4 {
  background-color: #79b82c;
}

#lvl-5 {
  background-color: #a2be2d;
}

#lvl-6 {
  background-color: #c4bb2f;
}

#lvl-7 {
  background-color: #ca9830;
}

#lvl-8 {
  background-color: #d07432;
}

#lvl-9 {
  background-color: #d64d33;
}

#lvl-10 {
  background-color: #dc3544;
}
